{% extends "layout.html" %}

{% block title %}HOME{% endblock %}

{% block content %}

<!--Carrousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 carrousel_image" src="/static/images/carrousel_third.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block carrousel_div_text">
                <h2 class="carrousel_text">NOVA COLEÇÃO</h2>
                <p class="carrousel_text">Outono-Inverno</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 carrousel_image" src="/static/images/carrousel_second.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 carrousel_image" src="/static/images/carrousel_first.png" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
</div>
<!--Frete grátis e outros-->
<div class="text-center div_frete row py-2">
    <ul class="mb-0">
        <li class="d-inline mx-4"><b>FRETE GRÁTIS*</b> acima de R$279</li>
        <li class="d-inline mx-4"><b>ATÉ 7X SEM JUROS*</b></li>
        <li class="d-inline mx-4"><b>CUPONS DE DESCONTO </b><a href="#">Aproveite</a></li>
        <li class="d-inline mx-4"><b>RETIRE EM LOJA </b>com frete grátis</li>
    </ul>
</div>
<div class="text-center p-2">
    <p>*Consulte condições em <a href="#">www.galaxyattire.com.br/regulamentos</a></p>
</div>


<!--Novidades-->
<div class="text-center m-3">
    <h3>NOVIDADES</h3>
    <div class="row my-4">
        {% for product in arrivals %}
        <div class="col-sm-6 col-md-3">
          <div class="card">
            <a href="#">
            <img class="card-img-top" src="{ url '/media'}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Blusa feminina fios metalizados manga longa marrom | AK by Riachuelo</h5>
              <p class="card-text"><b>R$ 149,90</b></p>
              </a>
            </div>
          </div>
        </div>
     
       
    </div>
</div>


{% endblock %}