<nav class="navbar navbar-expand-md justify-content-center navbar-light bg-light">
    <ul class="navbar-nav  navbar-cat">
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Coleção</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Novidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Feminino</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Masculino</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Infantil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Beleza</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Básicos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Jeans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Acessórios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Esportivo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2" href="#">Moda Íntima</a>
        </li>
    </ul>
</nav>