{% extends "layout.html" %}

{% block title %}
  {{ product.name }}
{% endblock %}

{% block content %}

<div class="container-fluid m-2">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">INÍCIO</a></li>
        <li class="breadcrumb-item"><a href="#">CATEGORIA</a></li>
        <li class="breadcrumb-item"><a href="#">SUB-CATEGORIA</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
        </ol>
    </nav>

    <div class="row">
        <!--Carrousel lateral de fotos-->
        <div class="col-xs-12 col-md-2">
            <img src="/static/images/product.jpg">
        </div>

        <!--Main photo-->
        <div class="col-xs-12 col-md-6">
            <img class="product-photo" src="/media/{{ product.photo_main }}" alt="{{ product.photo_main_alt }}">
        </div>

        <!--Info about product-->
        <div class="col-xs-12 col-md-4">
            <h3 class="my-4"><b>{{ product.name }}</b></h3>
            <h4 class="my-5"><b>Price</b></h4>
            <h6 class="mt-4">Cor:</h6>
            <div class="rounded-circle product-color"></div>
            <h6 class="mt-4">Tamanho</h6>
            <div class="row px-1">
                <div class="col-md-1 product-size m-2 px-2 py-2">P</div>
                <div class="col-md-1 product-size m-2 px-2 py-2">M</div>
                <div class="col-md-1 product-size m-2 px-2 py-2">G</div>
                <div class="col-md-1 product-size m-2 px-2 py-2">GG</div>
            </div>
            <button type="button" class="btn btn-danger btn-buy">COMPRAR</button>
            <div>
                <h6>CALCULAR FRETE</h6>
                <form class="form-inline">
                    <div class="form-cep mt-4">
                        <input type="text" class="form-control mb-2 mr-2" id="inlineFormInputCEP" placeholder="Digite seu CEP">
                        <button type="submit" class="btn btn-secondary mb-2">OK</button>
                    </div>
                </form>
                <a href="#">Não sei meu CEP</a>
            </div>
        </div>
       








    </div>
</div>

{% endblock %}