/* Navbar do logo */
.navbar-logo {
    height:max-content;
    background-color: white;
}

.logo {
    left: 50%;
}

.form-search {
    display: flex;
    flex-flow: nowrap;
    max-width: max-content;
}

#search-input {
    border-color: grey;
    width: 400px;
}

#search-submit {
    background-color: white;
    color: #808080;
    
}

/* Navbar das categorias*/
.navbar-cat {
    border: solid grey;
    border-width: 0  0 1px 0 ;
    align-items:center;
    padding: 1rem 0;
}

@media (max-width: 767.98px) {
    .navbar-cat {
        border: 0;
    }
}